<div class="ab-scrolling-tabs__container">
  <div class="fade-left">
    <i class="left arrow icon"></i>
  </div>
  <div class="fade-right">
    <i class="right arrow icon"></i>
  </div>
  <div class="ui secondary pointing menu js-leads-tabbed-section ab-scrolling-tabs__tabbed-section">
    <a class="item active" data-tab="activities">
      Activity Stream
    </a>
    <a class="item" data-tab="comments">
      Comment
    </a>
    <a class="item" data-tab="sms_messaging">
      Text
    </a>
    <a class="item" data-tab="emails">
      Emails
    </a>
    <a class="item" data-tab="tasks">
      Tasks
    </a>
  </div>
</div><!-- /.ab-scrolling-tabs-container -->

<div class="ui tab basic segment active" data-tab="activities">
  <%= render(
    partial: "leads/stream/tabbed_activities",
    locals: {
      lead: lead,
      activities: activities,
      activities_url: activities_url
    }
  )%>
</div><!-- /.ui tab segment -->

<div class="ui tab basic segment" data-tab="comments">
  <%= render(partial: "comments/form") %>
  <%= render(partial: "comments/comment_list") %>
</div><!-- /.ui tab segment -->

<% if current_user.super_admin? %>
  <div class="ui tab basic segment" data-tab="sms_messaging">
    <%= render(partial: "designs/sms_messaging/form") %>
    <%= render(partial: "designs/sms_messaging/sms_lists") %>
  </div><!-- /.ui tab segment -->
<% end %>
<div class="ui tab basic segment" data-tab="emails">
  <% if current_user.nylas_account_valid? %>
    <div data-behavior="lead-quick-email">
      <%= render(
        partial: "emails/lead_quick_email_form",
        locals: { lead: lead, contact: lead.contact }
      ) %>
    </div>
    <!-- List of messages, using NylasApp-provided styling -->
    <%#= render("emails/messages_list", { messages: messages, contact: lead.contact }) %>
    <div id="email-messages-list" data-behavior="email-messages-list" data-info-contact="<%= lead.contact.id %>"></div>
  <% else %>
    <div class="ui info icon message">
      <i class="gear icon"></i>
      <div class="content">
        <p>
          <%= link_to(
            "To send an email, you must have a connected email account. Click here to connect.",
            edit_integrations_path
          ) %>
        </p>
      </div><!-- /.content -->
    </div><!-- /.ui info message -->
  <% end %>
</div><!-- /.ui tab segment -->

<div class="ui tab basic segment" data-tab="tasks">
  <%= link_to(
    new_task_path(lead_id: lead.id),
    id: "add-new-task",
    class: "ui basic button m-b",
    "data-loading-text" => "Loading...",
    remote: true
  ) do %>
    <i class="plus icon"></i>Add new task
  <% end %>
  <%= render(
    partial: "tasks/tasks",
    locals: { tasks: @not_completed_tasks }
  ) %>
</div><!-- /.ui tab segment -->
