<% content_for(:title, "Pending Clients Report") %>
<% breadcrumb(:pending_team_reports) %>
<div class="ui masthead vertical segment compressed">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Pending Clients Report (Team)
        <div class="sub header">Clients with signed contracts.</div>
      </h1><!-- /.ui header -->
    </div><!-- /.introduction -->
  </div><!-- /.ui container -->
</div><!-- /.ui masthead vertical segment compressed -->

<% if @leads.empty? %>
  <div class="ui segment">
    <h2 class="ui center aligned icon header m-y-lg">
      <i class="warning sign icon"></i>
      <div class="content">
        Your team doesn't have any pending clients.
        <div class="sub header">If this seems wrong, <%= link_to("review and update your client information here", clients_path) %>.</div>
      </div>
    </h2>
  </div>
<% else %>
  <div class="main ui container">
    <div class="ui vertical basic segment">
      <div class="ui centered grid">
        <div class="computer tablet only row">
          <div class="column">
            <div class="ui three tiny statistics">
              <div class="statistic">
                <div class="label">
                  Clients pending
                </div>
                <div class="value">
                  <%= @leads.count %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Volume
                </div>
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_price)) %>
                </div>
              </div>
              <div class="statistic">
                <div class="label">
                  Net commission
                </div>
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_net_commission)) %>
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.computer tablet only row -->
        <div class="mobile only row">
          <div class="column">
            <div class="ui horizontal tiny statistics">
              <div class="statistic">
                <div class="value">
                  <%= @leads.count %>
                </div>
                <div class="label">
                  Team Clients pending
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_price)) %>
                </div>
                <div class="label">
                  Volume
                </div>
              </div>
              <div class="statistic">
                <div class="value">
                  <%= num_to_currency(@leads.sum(:displayed_net_commission)) %>
                </div>
                <div class="label">
                  Net commission
                </div>
              </div>
            </div>
          </div><!-- /.column -->
        </div><!-- /.mobile only row -->
      </div><!-- /.ui centered grid -->
    </div><!-- /.ui vertical basic segment -->

    <div class="ui vertical basic segment">
      <h2 class="ui dividing header">
        Pendings
      </h2><!-- /.ui dividing header -->
      <table class="ui striped table" id="pendings_table">
        <%= render partial: "reports/pendings/leads", locals: { leads: @leads } %>
      </table>
    </div><!-- /.ui vertical basic segment -->
  </div><!-- /.ui container -->
<% end %>

