<a href="<%= link %>" <%= data_method %> class="item" <%= link_attributes %>>
  <i class="big <%= icon_class %> middle aligned icon"></i>
  <div class="content">
    <div class="header"><%= title %></div>
    <div class="description"><%= description %></div>
  </div>
</a>
