<div class="activity_container">
  <article class="activity">
  <%= activity_icon("info", "mdi-maps-pin-drop") %>
    <div class="activity-flat-container">
      <div class="activity-flat">
        <%= render 'public_activity/shared/activity_timestamp', activity: activity %>
        <div class="action">
          <%= activity_creator(activity) %>
          <%= activity_subject(activity, action: "deleted the property") %>
          <%= activity_bucket(activity, "from", recipient_name(activity)) %>
        </div><!-- /.action -->
      </div><!-- /.activity-flat -->
    </div><!-- /.activity-flat-container -->
  </article><!-- /.activity -->
</div><!-- /.activity_container -->
