<div class="item side-menu-only empty-logo-holder">
  <!-- We use this div for styling -->
</div>

<%= nav_link("Dashboard", dashboard_path, title: "Dashboard") %>
<%= nav_link("Marketing Center", marketing_center_index_path, title: "Marketing Center") %>
<%= nav_link("Contacts", contacts_path, title: "Contacts") %>
<%= nav_link("Leads", user_leads_path, title: "Leads") %>
<%= nav_link("Clients", clients_path, title: "Clients") %>
<%= nav_link("Tasks", tasks_path, title: "Tasks") %>
<%= nav_link("Reports", reports_path, title: "Reports") %>
<%= nav_link("Coach", coaching_path, title: "Coach") %>

