<div class="modal fade" id="remindMeLaterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="header">
    <h4 class="modal-title" id="myModalLabel">Follow up with <%= formatted_lead_name(@lead) %> later</h4>
  </div><!-- /modal-header -->
  <div class="content">
    <div class="form-group">
      <label for="">Remind me:</label>
      <select name="" id="delay-time" class="select">
        <option value="1">in 1 hour</option>
        <option value="2">in 2 hours</option>
        <option value="4">in 4 hours</option>
        <option value="24">Tomorrow</option>
        <option value="48">in 2 days</option>
        <option value="168">Next week</option>
      </select>
    </div><!-- /.form-group -->
    <button type="button" class="ui primary button",  "data-loading-text" = "Saving...", data-behavior="remind-me-later" >Save reminder</button>
    <a class="ui basic button" data-dismiss="modal">Cancel</a>
  </div><!-- /content -->
</div><!-- /modal#remindMeLaterModal -->

<% content_for :javascript do %>
  <script>
    $('[data-behavior~=remind-me-later]').click(function() {
      $('#remind-me-later').prop('disabled', true);
      $('#remind-me-later').html('Please Wait');
      var delayTime = $('#delay-time').val();
      var remindMe = $.post( "<%= remind_me_later_lead_path %>" , { delay_time: delayTime, lead_id: <%= @lead.id %>, user_id: <%= current_user.id %> }
          );
      remindMe.always(function() {
        var status = remindMe.responseText;
        if ( status == 'success' )
        {
          alert('Successfully set reminder!');
          window.location.replace("<%= @referer %>");
        }
        else
        {
          alert('Sorry there was an error. Please try again.');
        }
      });
    });
  </script>
<% end %>
