<%= simple_form_for(
  resource,
  as: resource_name,
  url: registration_path(resource_name),
  html: { method: :put },
  remote: true
) do |f| %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <h3>Currently waiting confirmation for: <%= resource.unconfirmed_email %></h3>
  <% end %>
  <%= f.input(:password, label: "New Password") %>
  <%= f.input(:password_confirmation, label: "New Password Confirmation") %>
  <%= f.input(:current_password, label: "Current Password") %>
  <%= f.button(
    :submit,
    value: "Update"
  ) %>
<% end %>
