<%= simple_form_for(
  [lead, property, contract],
  html: {
    data: {
      fv_live: "submitted",
      form: "contract_form",
      "mobile-app-forced-form": request_from_mobile_app?,
      page: "add_seller_contract"
    }
  }
) do |f| %>
  <h3 class="ui header">Seller Contract Info</h3>
  <%= hidden_field_tag(
    :redirect_page,
    set_redirect_or_render_page(redirect_page, :redirect_page)
  ) %>
  <%= hidden_field_tag(
    :render_page,
    set_redirect_or_render_page(render_page, :render_page)
  ) %>
  <%= f.input(
    :offer_price,
    as: :currency,
    label: "Contract Price",
    placeholder: "ex. 350000"
  ) %>
  <div class="ui raised segment">
    <%= render(partial: "contracts/forms/commission", locals: { f: f }) %>
  </div>
  <%= f.input(
    :closing_date_at,
    label: "Closing Date",
    as: :datepicker,
    input_html: {
      value: format_for_datepicker(f.object.closing_date_at),
      type: type_for_datepicker
    }
  ) %>
  <%= f.input(
    :status,
    collection: Contract::STATUSES.invert,
    include_blank: false
  ) %>
  <%= f.input(:buyer) %>
  <%= f.input(:buyer_agent) %>
  <h3 class="ui header">Do you have to pay a referral?</h3>
  <div class="two fields m-t">
    <%= f.input(
      :referral_fee_type,
      collection: ["Percentage", "Fee"],
      label: "Referral percentage or fee?",
      as: :sui_radio_buttons,
      wrapper: :horizontal_radio_buttons,
      input_html: { "data-behavior": "display-commission-referral-fields" }
    ) %>
    <%= f.input(
      :referral_fee_rate,
      label: "What the referral percentage?",
      as: :percentage_two_decimal,
      placeholder: "ex. 65",
      wrapper_html: { id: "percentage2-field" }
    ) %>
    <%= f.input(
      :referral_fee_flat_fee,
      as: :currency,
      label: "What is the referral fee?",
      placeholder: "ex. 100",
      wrapper_html: { id: "fee2-field" }
    ) %>
  </div><!--/two fields-->
  <%= f.input(
    :additional_fees,
    as: :currency,
    label: "Any additional Fees?"
  ) %>
  <%= f.button(:submit, value: "Save", "data-disable-with": "Saving...") %>
  <%= link_to("Cancel", :back, class: "ui basic button") %>
<% end %>
