<% content_for(:title, "Email Templates") %>
<% breadcrumb(:email_templates) %>
<%= page_header(
  primary_name: "Index",
  primary_path: templates_index_path,
  secondary_name: "Email Templates",
  add_button_text: "Add new email template",
  add_button_path: new_email_template_path
) %>

<div class="main ui container full-width-container">
  <div class="ui vertical basic segment">
    <div class="ui stackable grid">
      <div class="sixteen wide column sticky-black-menu-container" id="select-menu-container">

        <div class="ui segments">

          <div class="ui segment p-a-0">

            <table class="ui sortable very basic table index-page-table" data-ui-behavior="sortable-table">
              <thead>
                <tr>
                  <th class="">Title</th>
                  <th class="">Content</th>
                  <th class="collapsing">Sent</th>
                  <th class="collapsing">Open</th>
                  <th class="collapsing">Clicks</th>
                  <th class="collapsing">Replies</th>
                  <th class="collapsing">Copy</th>
                  <th class="no-sort">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @email_templates.each do |email_template| %>
                  <tr>
                    <td class="name_clickable" data-link="<%= edit_email_template_path(email_template) %>" style="cursor: pointer;">
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            <%= email_template.name %>
                            <div class="sub header"><%= email_template.purpose %></div><!-- /.sub header -->
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td>
                      <div class="item">
                        <div class="ui small header">
                          <div class="content">
                            <%= email_template.subject %>
                            <div class="sub header message_body"><%= safe_join([email_template.striped_message_body.html_safe]) %></div><!-- /.sub header -->
                          </div><!-- /.content -->
                        </div><!-- /.ui small header -->
                      </div><!-- /.item -->
                    </td>
                    <td data-sort-value="6">
                      <%= email_template.sends %>
                    </td>
                    <td>
                      <%= email_template.opens %>
                    </td>
                    <td>
                      <%= email_template.clicks %>
                    </td>
                    <td>
                      <%= email_template.replies %>
                    </td>
                    <td>
                      <%= link_to copy_email_template_path(email_template), method: :post do %>
                        <i class="copy outline icon"></i>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to email_template, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                        <i class="trash icon red"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div><!-- /.ui segment -->
        </div><!-- /.ui segments -->
      </div><!-- /.column -->
    </div><!-- /.ui centered grid -->
  </div><!-- /.ui vertical basic segment -->
</div><!-- /.main ui container -->

<style>
  .message_body div {
    width: 400px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
  }
</style>

<script>
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  });
</script>
