<% breadcrumb(:contact_activities) %>
<%= page_header(
  primary_name: "Marketing Center",
  primary_path: marketing_center_index_path,
  secondary_name: "Referral Generation",
  add_button_text: "Log a new referral activity",
  add_button_path: new_contact_activity_path
) %>

<div class="ui main container">
  <table class="ui single line table">
    <thead>
      <tr>
        <th>When</th>
        <th>Referral Activity</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contact_activities.each do |contact_activity| %>
        <tr>
          <td class="breakword">
            <%= display_time_ago(contact_activity.completed_at) %>
          </td>
          <td class="breakword">
            <%= contact_activity.contact.full_name unless contact_activity.contact_id.nil? %><br />
            <%= link_to edit_contact_activity_path(contact_activity) do %>
              <%= contact_activity.subject %>
            <% end %>
          </td>
          <td><%= contact_activity.activity_type %></td>
          <td class="right aligned">
            <%= link_to(
              "Edit",
              edit_contact_activity_path(contact_activity),
              class: "ui basic button"
            ) %>
            <%= link_to(
              "Delete",
              contact_activity,
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "ui basic negative button ",
              "data-loading-text" => "Deleting..."
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
