<div class="ui vertical fluid steps m-y">
  <div class="<%= sidebar_class(active_step, 1) %> step" data-ui-behavior="tab" data-tab="branding-info" >
    <div class="content">
      <div class="title">Branding</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 2) %> step" data-ui-behavior="tab" data-tab="contacts-info">
    <div class="content">
      <div class="title">Contacts</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 3) %> step" data-ui-behavior="tab" data-tab="personal-marketing-info">
    <div class="content">
      <div class="title">Personal Marketing</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 4) %> step" data-ui-behavior="tab" data-tab="mass-marketing-info">
    <div class="content">
      <div class="title">Mass Marketing</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 5) %> step" data-ui-behavior="tab" data-tab="lead-generation-info">
    <div class="content">
      <div class="title">Lead Generation</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 6) %> step" data-ui-behavior="tab" data-tab="service-clients-info">
    <div class="content">
      <div class="title">Service Clients</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 7) %> step" data-ui-behavior="tab" data-tab="goal-setting">
    <div class="content">
      <div class="title">Goal Setting</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 8) %> step" data-ui-behavior="tab" data-tab="current-year-progress">
    <div class="content">
      <div class="title">Current Year Progress</div>
    </div>
  </div>
  <div class="<%= sidebar_class(active_step, 9) %> step" data-ui-behavior="tab" data-tab="agent-info">
    <div class="content">
      <div class="title">Submit</div>
    </div>
  </div>
</div><!-- /.ui vertical fluid steps m-y -->
