<%= render(partial: "assessment_steps/header") %>

<div class="ui assessment container">
  <ui class="ui vertical basic segment">
    <div class="ui stackable centered grid">

      <div class="twelve wide column p-b-0">
        <%= render(
          partial: "assessment_steps/progress_bar",
          locals: { data_value: 1, data_total: 10 }
        ) %>
      </div><!-- /.twelve wide column -->

      <div class="row two columns">
        <div class="four wide column hide-mobile-and-down">
        <%= render(partial: "assessment_steps/sidebar", locals: { active_step: 1 }) %>
        </div><!-- /.four wide column hide-mobile-and-down -->
        <div class="column">
          <div class="ui vertical basic segment">
            <%= render_title_message(icon_class: "orange circle lightbulb") do %>
              <div class="header"><i class="yellow circle lightbulb"></i>Branding Basics</div>
              <p>Having a consistent, professional presence is crucial to expanding your business.</p>
              <div class="header"></div>
              <p class=“fwb”><i>"Your brand is what other people say about you when you’re not in the room." - Jeff Bezos</i></p>
            <% end %>
            <%= simple_form_for(
              @survey_result,
              url: wizard_path,
              method: :put,
              html: { data: { behavior: "agent-assessment-form", fv_live: "enabled" } }
            ) do |f| %>
              <div class="ui segment tab transition fade in active" id="branding-info" data-tab="branding-info">
                <%= f.hidden_field(:broker_code, value: @broker_code) %>
                <%= f.hidden_field(:office_code, value: @office_code) %>
                <%= f.hidden_field(:access_code, value: @access_code) %>
                <%= f.hidden_field(:email, value: @email) %>
                <%= f.hidden_field(:payment_status, value: 3) %>
                <!-- VERICAL RADIOS - YES/NO BOOLEAN -->
                <%= f.input(
                  :headshot_current,
                  label: "Do you have a current personal headshot saved (updated in last 12 months)?",
                  wrapper: :vertical_radio_buttons,
                  as: :sui_radio_buttons,
                  collection: [
                    ["Yes", true],
                    ["No", false]
                  ]
                ) %>
                <!-- VERICAL RADIOS - YES/NO BOOLEAN -->
                <%= f.input(
                  :bio_current,
                  label: "Do you have a current personal bio saved (updated in last 12 months)?",
                  wrapper: :vertical_radio_buttons,
                  as: :sui_radio_buttons,
                  collection: [
                    ["Yes", true],
                    ["No", false]
                  ]
                ) %>
                <!-- VERICAL RADIOS - YES/NO BOOLEAN -->
                <%= f.input(
                  :profile_broker_pages_current,
                  label: "Does your personal website or broker-provided web page have an updated headshot, bio and at least 3 recent testimonials?",
                  wrapper: :vertical_radio_buttons,
                  as: :sui_radio_buttons,
                  collection: [
                    ["Yes", true],
                    ["No", false]
                  ]
                ) %>
                <!-- VERICAL RADIOS - YES/NO BOOLEAN -->
                <%= f.input(
                  :online_profiles_current,
                  label: "Are your online profiles (Trulia, Zillow, Realtor.com, etc) updated with your current headshot, bio and at least 3 recent testimonials?",
                  wrapper: :vertical_radio_buttons,
                  as: :sui_radio_buttons,
                  collection: [
                    ["Yes", true],
                    ["No", false]
                  ]
                ) %>

                <%= f.input(
                  :testimonials_current,
                  label: "How often do you solicit testimonials from your satisfied clients after their closing?",
                  wrapper: :vertical_radio_buttons,
                  as: :sui_radio_buttons,
                  collection: SurveyResult::TESTIMONIALS_CURRENT_SCORING.keys) %>

                <input type="hidden" value="contacts" name="next_step_id">
                <input type="hidden" value="info" name="last_step_id">
                <%= f.submit(
                  "Next",
                  class: "ui primary button",
                  id: "branding_next_button"
                ) %>
            <% end %>
          </div><!-- /.ui vertical basic segment -->
        </div><!-- /.column -->
      </div><!-- /.row two columns -->
    </div><!-- /.ui stackable centered grid -->
  </ui><!-- /.ui vertical basic segment -->
</div><!-- /.ui assessment container -->

<script charset="utf-8">

  $('.step').click(function(event) {
    event.stopImmediatePropagation();
    return false;
  });

  $('[data-ui-behavior=tab]').tab();

  var $formToValidate = $('[data-behavior=agent-assessment-form]');

  $formToValidate.formValidation({
    framework: 'semantic',
    excluded: [':disabled', ':not(:visible)'],
    live: 'disabled',
    row: {
      selector: '.field'
    },
    fields: {
      'survey_result[headshot_current]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[bio_current]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[profile_broker_pages_current]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[online_profiles_current]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[testimonials_current]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      }
    }
  });

</script>
