<%= render(partial: "assessment_steps/header") %>

<div class="ui assessment container">
  <ui class="ui vertical basic segment">
    <div class="ui stackable centered grid">

      <div class="twelve wide column p-b-0">
        <%= render(
          partial: "assessment_steps/progress_bar",
          locals: { data_value: 7, data_total: 10 }
        ) %>
        <%= render_quick_results(
          previous_step: "Service Clients",
          data_percent: @agent_service.total_score_in_percentage.round
        ) do %>
          <%= sanitize goal_setting(@agent_service.total_score_in_percentage) %>
        <% end %>
      </div><!-- /.column -->
      <div class="ui row p-b-0">
        <div class="twelve wide column">
          <h4 class="ui horizontal divider header">
            Next section:
          </h4>
        </div><!-- /.twelve wide column -->
      </div><!-- /.ui row -->
      <div class="row two columns p-t-0">
        <div class="four wide column hide-mobile-and-down">
          <%= render(partial: "assessment_steps/sidebar", locals: { active_step: 7 }) %>
        </div><!-- /.four wide column hide-mobile-and-down -->
        <div class="column">
          <div class="ui vertical basic segment">
            <%= render_title_message(icon_class: "green big dollar sign icon") do %>
              <div class="header"><i class="red bullseye icon"></i>Goal Setting</div>
              <p>Goal-setting is scientifically proven to improve performance and achievement. Take aim with your big annual goal, then break it all the way down into daily and weekly tasks to hit the bullseye!</p>
              <div class="header"></div>
              <p>We help you figure out what you need to do to make your desired income goal.</p>
          <% end %>
          <%= simple_form_for(
            @survey_result,
            url: wizard_path,
            method: :put,
            html: { data: { behavior: "agent-assessment-form", fv_live: "enabled" } }
          ) do |f| %>
            <div class="ui segment tab transition fade in active" id="goal-setting" data-tab="goal-setting">
              <% if false # We don't want to show this field for now %>
                <%= f.input(
                  :past_year_income,
                  label: "How much money did you make in 2016? (Net income, after paying the broker and your real estate expenses)",
                  as: :currency
                ) %>
              <% end %>
              <%= f.input(
                :average_home_price,
                label: "What is the average price of a home you sell or buy?" ,
                as: :currency,
                input_html: { pattern: "^[1-9]\d*$" }
              ) %>
              <%= f.input(
                :desired_annual_income,
                label: "What is your annual income goal through selling real estate?",
                as: :currency
              ) %>
              <%= f.input(
                :est_business_expenses,
                label: "What are your estimated real estate expenses for the year?",
                as: :currency
              ) %>
              <%= f.input(
                :avg_commission_rate,
                label: "What is your average gross commission percentage for a transaction side? (Usually between 2-4%)",
                placeholder: "e.g. 2.5",
                as: :percentage_two_decimal
              ) %>
              <%= f.input(
                :pays_monthly_broker_fee,
                label: "Do you pay a monthly fee to your broker?",
                wrapper: :vertical_radio_buttons,
                as: :sui_radio_buttons,
                input_html: { data: { behavior: "pays_monthly_broker_fee"} },
                collection: [
                  ["Yes", true],
                  ["No", false]
                ]
              ) %>
              <%= f.input(
                :monthly_broker_fees_paid,
                label: "How much in monthly fees do you pay?",
                wrapper_html: { style: "display:none", data: { behavior: "monthly_broker_fees_paid" } },
                input_html: { disabled: "disabled" },
                as: :currency
              ) %>
              <%= f.input(
                :franchise_fee,
                label: "Do you pay a franchise fee to your broker on each transaction?",
                wrapper: :vertical_radio_buttons,
                as: :sui_radio_buttons,
                input_html: { data: { behavior: "franchise_fee"} },
                collection: [
                  ["Yes", true],
                  ["No", false]
                ]
              ) %>
              <%= f.input(
                :franchise_fee_per_transaction,
                label: "What is the percentage franchise fee you pay?",
                wrapper_html: { style: "display:none", data: { behavior: "franchise_fee_per_transaction" } },
                input_html: { disabled: "disabled" },
                as: :percentage_two_decimal
              ) %>
              <%= f.input(
                :commission_split_type,
                label: "How does the broker take their cut of the commission on each transaction?" ,
                wrapper: :vertical_radio_buttons,
                as: :sui_radio_buttons,
                input_html: { data: { behavior: "commission_split_type"} },
                collection: [
                  "Percentage",
                  "Fee",
                  "None"
                ]
              ) %>
              <div class="field" style="display:none;" data-behavior="agent_percentage_split">
                <label>What is the commission split between you and your broker?</label>
                <div class="two fields">
                  <%= f.input(
                    :agent_percentage_split,
                    label: "You get:",
                    label_html: { class: "fsi" },
                    wrapper_html: {
                      data: { behavior: "agent_percentage_split_field" }
                    },
                    input_html: {
                      disabled: "disabled",
                      data: { agent_split_field: true }
                    },
                    as: :percentage_two_decimal
                  ) %>
                  <div class="field">
                    <label class="fsi">Broker gets:</label>
                    <input type="text" class="no-border" readonly tabindex="-1" data-broker-split-field />
                  </div><!-- /.field -->
                </div><!-- /.two fields -->
              </div><!-- /.field -->
              <%= f.input(
                :broker_fee_per_transaction,
                label: "What is the per-transaction fee paid to the broker?",
                wrapper_html: { style: "display:none", data: { behavior: "broker_fee_per_transaction" } },
                input_html: { disabled: "disabled" },
                as: :currency
              ) %>
              <%= f.input(
                :broker_fee_alternative,
                label: "If the commission is small enough, do you pay a percentage instead of your usually flat fee to the broker?" ,
                wrapper: :vertical_radio_buttons,
                as: :sui_radio_buttons,
                wrapper_html: { style: "display:none", data: { behavior: "broker_fee_alternative_wrapper" } },
                input_html: { data: { behavior: "broker_fee_alternative"} },
                collection: [
                  ["Yes", true],
                  ["No", false]
                ]
              ) %>
              <%= f.input(
                :broker_fee_alternative_split,
                label: "What is the alternative percentage you pay?",
                wrapper_html: { style: "display:none", data: { behavior: "broker_fee_alternative_split" } },
                input_html: { disabled: "disabled" },
                as: :percentage_two_decimal
              ) %>
              <%= f.input(
                :per_transaction_fee_capped,
                label: "Are your broker fees capped after a certain number of transactions?" ,
                wrapper: :vertical_radio_buttons,
                as: :sui_radio_buttons,
                input_html: { data: { behavior: "per_transaction_fee_capped"} },
                collection: [
                  ["Yes", true],
                  ["No", false]
                ]
              ) %>
              <%= f.input(
                :transaction_fee_cap,
                label: "How many transactions do you need for your fees to be capped?" ,
                wrapper_html: { style: "display:none", data: { behavior: "transaction_fee_cap" } },
                input_html: { disabled: "disabled" }
              ) %>

              <input type="hidden" value="current_year_progress" name="next_step_id">
              <input type="hidden" value="service_clients" name="last_step_id">
              <%= f.submit(
                "Next",
                id: "goal_setting_next_button",
                class: "ui primary button"
              ) %>
            </div>
          <% end %>
         </div><!-- /.ui vertical basic segment -->
        </div><!-- /.column -->
      </div><!-- /.row two columns -->
    </div><!-- /.ui stackable centered grid -->
  </ui><!-- /.ui vertical basic segment -->
</div><!-- /.ui assessment container -->

<script charset="utf-8">
  var $formToValidate = $('[data-behavior=agent-assessment-form]');

  $formToValidate.formValidation({
    framework: 'semantic',
    excluded: [':disabled', ':not(:visible)'],
    live: 'disabled',
    row: {
      selector: '.field'
    },
    fields: {
      'survey_result[past_year_income]': {
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[average_home_price]': {
        validators: {
          notEmpty: {
            enabled: true
          },
          greaterThan: {
            value: 0,
            inclusive: false,
            message: 'This value must be greater than 0',
            transformer: function($field, validatorName, validator) {
              var value = $field.val();
              return value.replace(/,/g, '');
            }
          }
        }
      },
      'survey_result[desired_annual_income]': {
        validators: {
          notEmpty: {
            enabled: true
          },
          greaterThan: {
            value: 0,
            inclusive: false,
            message: 'This value must be greater than 0',
            transformer: function($field, validatorName, validator) {
              var value = $field.val();
              return value.replace(/,/g, '');
            }
          }
        }
      },
      'survey_result[est_business_expenses]': {
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[avg_commission_rate]': {
        validators: {
          notEmpty: {
            enabled: true
          },
          greaterThan: {
            value: 0,
            inclusive: false,
            message: 'This value must be greater than 0'
          }
        }
      },
      'survey_result[pays_monthly_broker_fee]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[franchise_fee]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      },
      'survey_result[commission_split_type]': {
        row: '.fields',
        trigger: 'change',
        validators: {
          notEmpty: {
            enabled: true
          }
        }
      }
    }
  });

  $(document).on('change', '[data-agent-split-field]', function() {
    var $agentSplitField = $(this);
    var $brokerSplitField = $('[data-broker-split-field]');
    var brokerSplit = 0;
    brokerSplit = (100 - $agentSplitField.val()).toFixed(2);

    $brokerSplitField.val(brokerSplit + '%');
  });
</script>
