<% cache(["task_create", activity, current_user.id]) do %>

  <div class="activity_container js-activity-task js-activity-create">
    <article class="activity">
    <%= activity_icon("info", "checkmark icon") %>
      <div class="activity-flat-container">
        <div class="activity-flat">
          <%= render 'public_activity/shared/activity_timestamp', activity: activity %>
          <div class="action">
            <%= activity_creator(activity) %>
            <%= activity_subject(
              activity,
              action: "added",
              name: false,
              link: activity_link(activity.trackable)
            ) %>
            <%= activity_bucket(
              activity,
              "to",
              recipient_name(activity),
              activity_link(activity.recipient)
            ) %>
            <%= activity_excerpt(activity, "task_created") %>
          </div><!-- /.action -->
        </div><!-- /.activity-flat -->
      </div><!-- /.activity-flat-container -->
    </article><!-- /.activity -->
  </div><!-- /.activity_container -->
<% end %>
